@import './markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  html.dark {
    background: #121212;
  }
}

@layer components {
  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    @apply bg-teal-600 opacity-75;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
  }
}

@layer utilities {
  .btn {
    @apply px-4 py-1 rounded inline-block
      bg-teal-600 text-white cursor-pointer
      hover:bg-teal-700
      disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50 
      focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-offset-2 
      dark:focus:ring-offset-gray-800;
  }

  .btn-text {
    @apply px-4 py-1 rounded inline-block
    text-gray-600 cursor-pointer
      hover:underline
      disabled:cursor-default disabled:opacity-50 
      focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-offset-2 focus:underline
      dark:focus:ring-offset-gray-800;
  }

  .icon-btn {
    @apply inline-block cursor-pointer select-none
      opacity-75 transition duration-200 ease-in-out rounded
      hover:opacity-100 hover:text-teal-600 
      focus:active:outline-none focus:active:ring-2 focus:active:ring-teal-400 focus:active:ring-offset-2 
      dark:focus:active:ring-offset-gray-800;
    font-size: 0.9em;
  }

}